# .gitignore (Git — Ignore List)

/build
/vcpkg_installed

# Ignore configuration file
l2p-poe1.toml

_reference/
_live/
.plan/
.plans/

_rust_archive
__pycache__/
*.db*
data/seed.sql
dev/log_split/filtered_client.txt
dev/log_split/filtered_client/
dev/log_split/filtered_sql/
bin/
logs/
*.log
*.dmp
