# .gitignore (Git — Ignore List)

/build
/vcpkg_installed

# Ignore configuration file
l2p-poe1.toml

_reference/
_live/
.plan/
.plans/

_rust_archive
*.db*
dev/filtered_client.txt
dev/filtered_client/
dev/filtered_sql/
bin/
logs/
*.log
